body {
    text-align: center;
}

#title, #messages {
    font-family: 'Vollkorn', serif;

}

#board {
    background-color: lightblue;
    display: inline-block;
}

.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.next-drop {
    background-color: gray;
}

